* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #222222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #0a6be9;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;

  position: relative;
  border: 0;
  padding: 14px 42px;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  letter-spacing: 0.2em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.btn-shine:after {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 200%;
  height: 200%;
  transform: skewX(-20deg);
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
}

.btn-shine:active {
  transform: translateY(1px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.btn-shine:hover:after {
  animation: shine 1.6s ease;
}

@keyframes shine {
  100% {
    left: 200%;
  }
}
