@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  padding: 0;
  margin: 0;
}

body {
  background: #333;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 20px;
  /* background-color: tomato; */
}

#hex {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.color button {
  background: none;
  outline: none;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  transition: all 0.2s linear;
}

.color button:hover {
  background: white;
  color: #333;
}
