* {
  padding: 0;
  margin: 0;
  font-size: 25px;
  background-color: #333;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

ul li {
  list-style: none;
}

ul li a {
  color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.5s;
}

ul li a span {
  position: absolute;
  transition: transform 0.5s;
}

ul li a span:nth-child(2n + 1) {
  width: 100%;
  height: 2px;
  background-color: #ddd;
}

ul li a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}

ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

ul li a span:nth-child(3) {
  bottom: 0;
  right: 0;
  transform-origin: left;
}

ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

ul li a span:nth-child(2n) {
  width: 1px;
  height: 100%;
  background-color: #ddd;
}

ul li a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
}

ul li a:hover span:nth-child(2) {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.5s;
}

ul li a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
}

ul li a:hover span:nth-child(4) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
