* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #333;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.image-effect {
  position: relative;
  float: left;
  margin: 15px;
  min-width: 255px;
  max-width: 315px;
  height: 220px;
  width: 100%;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.image-effect img {
  height: 100%;
  position: absolute;
  right: 0;
  transition: all 2s ease-in-out;
}

.image-effect:hover img {
  transform: translateX(25%);
}
