* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  user-select: none;
  position: relative;
  font-family: Arial;
  color: #efefef;
  background-color: tomato;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: linear-gradient(90deg, #1031c7, #1e98e9);
  border-radius: 25px;
  letter-spacing: 1px;
  transition: 0.8s;
  overflow: hidden;
}

.btn.btn-3D {
  transform: perspective(500px) rotateY(-25deg);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  border: 3px solid #efefef;
}

.btn.btn-3D:hover {
  transform: perspective(500px) rotateY(15deg);
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.4);
}

.btn.btn-shine:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  transition: 0.8s;
}

.btn.btn-shine:hover:before {
  left: 100%;
}
