* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #333;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #fff;
  border: none;
  border-bottom: 6px solid tomato;
  border-top: 6px solid tomato;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 46px;
  letter-spacing: 3px;
  line-height: 34px;
  margin: 15px 40px;
  outline: none;
  padding: 0 10px;
  position: relative;
  text-transform: uppercase;
}

.btn:before,
.btn:after {
  box-sizing: border-box;
  transition: all 0.3s;
  background-color: #fff;
  border-radius: 50%;
  content: "";
  top: -6px;
  height: 46px;
  width: 46px;
  position: absolute;
  border: 6px solid #ddd;
  transform: rotate(45deg);
  z-index: -1;
}

.btn:before {
  right: -23px;
  border-left-color: tomato;
  border-bottom-color: tomato;
}

.btn:after {
  left: -23px;
  border-right-color: tomato;
  border-top-color: tomato;
}

.btn:hover,
.btn.hover {
  background-color: #fff;
}

.btn:hover:before,
.btn:hover:after,
.btn.hover:before,
.btn.hover:after {
  transform: rotate(225deg);
}
