* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #efefef;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  overflow-x: hidden;
}

.title {
  font: 1.5em/1 "Nova Mono", monospace;
  letter-spacing: 0.3em;
  margin: 4em;
}

.gallery {
  perspective: 500px;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

ul {
  background-color: #000;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0.1em;
  perspective-origin: center center;
  transform-style: preserve-3d;
  transform: rotateX(40deg);
  transition: all 0.4s;
}

ul:hover {
  transform: translateZ(100px) rotateX(20deg);
  z-index: 999;
}

ul:hover li {
  filter: grayscale(0);
}

li {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  transition: transform 0.3s, filter 1s;
  background: #000;
  filter: grayscale(0.9);
}

li:first-of-type {
  transform: none;
}
li:nth-of-type(2) {
  transform-origin: left center;
  transform: rotateY(180deg);
  left: 100%;
}
li:nth-of-type(3) {
  transform-origin: center top;
  transform: rotateX(-180deg);
  top: 100%;
}
li:nth-of-type(4) {
  transform-origin: right center;
  transform: rotateY(-180deg);
  left: -100%;
}
li:nth-of-type(5) {
  transform-origin: center bottom;
  transform: rotateX(180deg);
  top: -100%;
}

li:nth-of-type(6) {
  transform-origin: center top;
  transform: rotateX(-180deg);
  top: 100%;
  left: 100%;
}
li:nth-of-type(7) {
  transform-origin: right center;
  transform: rotateY(-180deg);
  top: 100%;
  left: -100%;
}
li:nth-of-type(8) {
  transform-origin: center bottom;
  transform: rotateX(180deg);
  top: -100%;
  left: -100%;
}
li:nth-of-type(9) {
  transform-origin: left center;
  transform: rotateY(180deg);
  top: -100%;
  left: 100%;
}

li:nth-of-type(n + 2) {
  transition-delay: 0.03s;
}
li:nth-of-type(n + 6) {
  transition-delay: 0s;
}
ul:hover :nth-of-type(n + 2) {
  transition-delay: 0s;
}
ul:hover :nth-of-type(n + 6) {
  transition-delay: 0.2s;
}

ul:hover :nth-of-type(2),
ul:hover :nth-of-type(4),
ul:hover :nth-of-type(7),
ul:hover :nth-of-type(9) {
  transform: rotateY(0);
}

ul:hover :nth-of-type(3),
ul:hover :nth-of-type(5),
ul:hover :nth-of-type(6),
ul:hover :nth-of-type(8) {
  transform: rotateX(0);
}

ul li {
  background-size: 300% 300%;
}
li:nth-of-type(1) {
  background-position: center center;
}
li:nth-of-type(2) {
  background-position: right center;
}
li:nth-of-type(3) {
  background-position: center bottom;
}
li:nth-of-type(4) {
  background-position: left center;
}
li:nth-of-type(5) {
  background-position: center top;
}
li:nth-of-type(6) {
  background-position: right bottom;
}
li:nth-of-type(7) {
  background-position: left bottom;
}
li:nth-of-type(8) {
  background-position: left top;
}
li:nth-of-type(9) {
  background-position: right top;
}

ul:nth-of-type(1) li {
  background-image: url("pic1.jpg");
}
ul:nth-of-type(2) li {
  background-image: url("pic2.jpg");
}
ul:nth-of-type(3) li {
  background-image: url("pic3.jpg");
}

li {
  text-indent: 999px;
  overflow: hidden;
}
