* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #222222;
  background: url("background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.rain {
  height: 100vh;
  background: url("rain.png");
  background-size: 200px;
  animation: rain 0.4s linear infinite;
}

.rain::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #efefef;
  animation: lighting 0.3s linear infinite;
  opacity: 0;
}

@keyframes rain {
  0% {
    background-position: 0 30%;
  }
  100% {
    background-position: 10% 50%;
  }
}

@keyframes lighting {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  12% {
    opacity: 0.5;
  }
  16% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  52% {
    opacity: 0.2;
  }
  54% {
    opacity: 0;
  }
}
