* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #333333;
}

.box {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mouse {
  width: 100px;
  height: 180px;
  border: 4px solid #efefef;
  border-radius: 60px;
  position: relative;
}

.mouse::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #efefef;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: anim 2s infinite;
}

@keyframes anim {
  from {
    opacity: 1;
    top: 30px;
  }
  to {
    opacity: 0;
    top: 120px;
  }
}
